<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{assets/css/common.css}" rel="stylesheet"/>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
    <div class="container">

        <!--/*@thymesVar id="user" type="com.vadim.hasdfa.teddybear.model.auth.User"*/-->
        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
        <form action="#" th:action="@{/loginPOST}" th:object="${user}" method="post" class="form-signin">
            <h2 class="form-heading">Log in</h2>

            <div class="form-group" th:class="${error != null ? 'has-error' : ''}">
                <input th:field="*{username}" type="text" class="form-control" placeholder="Username"/>
                <input th:field="*{password}" type="password" class="form-control" placeholder="Password" pattern="^[a-zA-Z0-9_]{4,32}$" required="required"/>
                <span th:text="${error}"></span>
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

                <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
                <!--<h4 th:if="${USERNAME_ERROR != null}" th:text="${USERNAME_ERROR}" class="text-center"></h4>-->
                <!--<h4 th:if="${PASSWORD_ERROR != null}" th:text="${PASSWORD_ERROR}" class="text-center"></h4>-->
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
        </form>

    </div>

    <script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>