<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Admin</title>

    <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{assets/css/common.css}" rel="stylesheet"/>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <style>
        input:invalid {
            border: 2px solid red;
        }
        input:valid {
            border: 1px solid gray;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="username_error" type="java.lang.String"*/-->
<!--/*@thymesVar id="password_error" type="java.lang.String"*/-->

    <div class="container">
        <!--/*@thymesVar id="user" type="com.vadim.hasdfa.teddybear.model.auth.User"*/-->
        <form method="POST" class="form-signin" action="#" th:action="@{/registration}" th:object="${user}">
            <h2 class="form-signin-heading">Create your account</h2>
            <div class="form-group" th:class="${(username_error != null) ? 'has-error' : ''}">
                <input  th:field="*{username}" id="username" type="text" class="form-control" placeholder="Username" pattern="^[a-zA-Z0-9_]{4,32}$" required="required"/>
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <div class="form-group" th:class="${(password_error != null) ? 'has-error' : ''}">
                <input th:field="*{password}" id="password" type="password" class="form-control" placeholder="Password" pattern="^[a-zA-Z0-9!_]{5,32}$" required="required"/>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <div style="margin-top: 18px;" th:if="${param.error}">
                Invalid username and password.
            </div>
        </form>
    </div>

    <script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>