<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}"/>
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Paper Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/assets/css/paper-dashboard.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>
    <link th:href="@{/assets/css/themify-icons.css}" rel="stylesheet"/>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-background-color="black" data-active-color="danger">

        <!--
    		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    	-->

        	<div class="sidebar-wrapper">
                <div class="logo">
                    <a th:href="@{/}" class="simple-text" style="text-transform: none !important;">
                        Teddy Bears ©
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a th:href="@{/}">
                            <i class="ti-home"></i>
                            <p>To home</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin}">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="ti-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/manage}">
                            <i class="ti-view-list-alt"></i>
                            <p>Manage items</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a th:href="@{/admin/upgrade}">
                            <i class="ti-export"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                </ul>
        	</div>
        </div>

        <div class="main-panel">
    		<nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand">Create new item</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="card card-user">
                                <!--/*@thymesVar id="bear" type="com.vadim.hasdfa.teddybear.model.Item"*/-->
                                <img id="some-image-heh" th:src="@{${bear.image}}" style="height: 250px; width: auto;" align="center"/>
                                <div class="row" style="margin-top: 75px !important;">
                                    <div class="author">
                                        <h4 class="title" id="bear-title" th:text="${bear.title}">
                                            Teddy bear
                                        </h4>
                                    </div>
                                    <p class="description text-center" th:text="${bear.category}">
                                        Small Teddy bear
                                    </p>
                                </div>
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-1"></div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-3">
                                            <h5 id="price-result" th:text="${bear.price}"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Edit Item</h4>
                                </div>
                                <div class="content">
                                    <!--/*@thymesVar id="bear" type="com.vadim.hasdfa.teddybear.model.Item"*/-->
                                    <form th:object="${bear}" th:action="@{/admin/manage/add}" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <input id="title" th:field="*{title}" pattern="^[a-zA-Z0-9 _!=\\+\\=]{4,32}$" class="form-control border-input"/>
                                                </div>
                                            </div>
                                            <label style="display: none">
                                                <input th:field="*{id}"/>
                                            </label>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <input id="category" th:field="*{category}" pattern="^[a-zA-Z0-9 _!=\\+\\=]{4,32}$" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Image URL</label>
                                                    <input id="image-url" th:field="*{image}" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input id="price" th:field="*{price}" step="0.01" type="number" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
                                            <!--/*@thymesVar id="isCreated" type="java.lang.Boolean"*/-->
                                            <a th:if="${isCreated}" th:href="@{'/admin/manage/remove/' + ${bear.id}}"><button type="button" class="btn btn-danger btn-fill btn-wd">
                                                Delete
                                            </button></a>
                                            <a th:if="${!isCreated}" th:href="@{/admin/manage}"><button type="button" class="btn btn-danger btn-fill btn-wd">
                                                Cancel
                                            </button></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a th:href="@{/}">
                                To home
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                About
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script th:src="@{/assets/js/paper-dashboard.js}"></script>

    <script>
        const priceResult = $("#price-result");
        const value = priceResult.html();
        priceResult.html(value + "$<br /><small>Price</small>");

        $('#title').bind('input', function() {
            var value = $(this).val();
            if (value === "") value = "Teddy Bear";
            $("#bear-title").html(value);
        });
        $('#category').bind('input', function() {
            var value = $(this).val();
            if (value === "") value = "Small Teddy Bear";
            $(".description").html(value);
        });
        $('#price').bind('input', function() {
            var value = $(this).val();
            if (value === "") value = "0.00";
            $("#price-result").html(value + "$<br /><small>Price</small>");
        });
        $('#image-url').bind('input', function() {
            var value = $(this).val();
            if (value === "") value = "/img/teddy.jpg";
            console.log(value);
            document.getElementById("some-image-heh").src = value;
        });
    </script>
</body>
</html>
