<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}"/>
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Paper Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/assets/css/paper-dashboard.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>
    <link th:href="@{/assets/css/themify-icons.css}" rel="stylesheet"/>
    <style>
        /*@media screen and (max-width: 750px){*/
            /*.open-bear { display: none; }*/
        /*}*/
        /*@media screen and (min-width: 750px){*/
        .edit {
            color: limegreen;
        }
        .edit-header {
            width: 28px;
        }
            /*.image-header { width: 150px; }*/
        /*}*/
    </style>
</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="black" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/}" class="simple-text" style="text-transform: none !important;">
                    Teddy Bears ©
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a th:href="@{/}">
                        <i class="ti-home"></i>
                        <p>To home</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/profile}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a>
                        <i class="ti-view-list-alt"></i>
                        <p>Manage items</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a th:href="@{/admin/upgrade}">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bears List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Bears Table</h4>
                                <p class="category">There is an table of all goods</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th class="image-header">Image</th>
                                    	<th>Title</th>
                                    	<th>Category</th>
                                    	<th class="edit-header">Price</th>
                                    </thead>
                                    <tbody>
                                        <!--/*@thymesVar id="bears" type="java.util.ArrayList<com.vadim.hasdfa.teddybear.model.Item>"*/-->
                                        <tr th:each="bear: ${bears}" th:object="${bear}" th:href="@{'/bear/' + ${bear.id}}" class="clickable">
                                            <td><img th:src="@{${bear.image}}"
                                                     style="width: auto; height: 125px;"/></td>
                                            <td th:text="${bear.title}"></td>
                                            <td th:text="${bear.category}"></td>
                                            <td th:text="${bear.price} + ' $'" style="white-space: nowrap !important;"></td>
                                            <td class="edit"><a th:href="@{'/admin/manage/add/' + ${bear.id}}">Edit</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"><h3><a th:href="@{/admin/manage/add}">Add new...</a></h3></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a th:href="@{/}">
                                To home
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                About
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>


    </div>
</div>

<!--   Core JS Files   -->
<script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script th:src="@{/assets/js/paper-dashboard.js}"></script>

<script>
    $(".clickable").click(function (e) {
        const href = $(this).attr("href");
        window.open(href,"_self");
    });
</script>

</body>
</html>
