<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}"/>
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Paper Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/assets/css/paper-dashboard.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>
    <link th:href="@{/assets/css/themify-icons.css}" rel="stylesheet"/>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/}" class="simple-text" style="text-transform: none !important;">
                    Teddy Bears ©
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a th:href="@{/}">
                        <i class="ti-home"></i>
                        <p>To home</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/profile}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/manage}">
                        <i class="ti-view-list-alt"></i>
                        <p>Manage items</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a th:href="@{/admin/upgrade}">
                        <i class="ti-export"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/admin}">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
					<div class="col-md-8 col-md-offset-2">
                        <div class="card">
                            <div class="header text-center">
                                <h3 class="title">Teddy Bear Shop</h3>
                                <p class="category">Are you looking for more features? Please check our Premium Version of Teddy Bear Pro.</p>
								<br />
                            </div>
                            <div class="content table-responsive table-full-width table-upgrade">
                                <table class="table">
                                    <thead>
                                        <th></th>
                                    	<th class="text-center">Free</th>
                                    	<th class="text-center">PRO</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>Some number</td>
                                        	<td>16</td>
                                        	<td>160</td>
                                        </tr>
                                        <tr>
                                        	<td>Plugins</td>
                                        	<td>4</td>
                                        	<td>15</td>
                                        </tr>
                                        <tr>
                                        	<td>Example Pages</td>
                                        	<td>4</td>
                                        	<td>25</td>
                                        </tr>
                                        <tr>
                                        	<td>SSL certificate</td>
                                        	<td><i class="fa fa-times text-danger"></i></td>
                                            <td><i class="fa fa-check text-success"></i></td>
                                        </tr>
                                        <tr>
                                        	<td>Documentation</td>
											<td><i class="fa fa-check text-success"></i></td>
                                            <td><i class="fa fa-check text-success"></i></td>
                                        </tr>
                                        <tr>
                                        	<td>User accounts</td>
											<td><i class="fa fa-times text-danger"></i></td>
                                            <td><i class="fa fa-check text-success"></i></td>
                                        </tr>
										<tr>
                                        	<td>Premium Support</td>
											<td><i class="fa fa-times text-danger"></i></td>
                                            <td><i class="fa fa-check text-success"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Native mobile app <br /> for Android and iOS</td>
                                            <td>~1500.00$</td>
                                            <td>Free</td>
                                        </tr>
										<tr>
                                        	<td></td>
											<td>Free</td>
                                        	<td>Just $49/mo.</td>
                                        </tr>
										<tr>
											<td></td>
											<td>
												<a href="#" class="btn btn-round btn-fill btn-default disabled">Current Version</a>
											</td>
											<td>
												<a target="_blank" th:href="@{http://avecp.com.ua/teddy-bear-project}" class="btn btn-round btn-fill btn-info">Upgrade to PRO</a>
											</td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a th:href="@{/}">
                                To home
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/about}">
                                About
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>
</div>



<!--   Core JS Files   -->
<script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script th:src="@{/assets/js/paper-dashboard.js}"></script>

</body>
</html>
