* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Verdana;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
/* Mobile Version */
@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }
    .mobile {
        display: block !important;
    }
}
/* Desktop/Tablet Version */
@media screen and (min-width: 600px) {
    .menu {
        display: block;
    }
    .mobile {
        display: none !important;
    }
}
body {
    background: #f4f4f4;
}
.logo {
    height: 50px;
    margin-top: 10px;
    width: 50px;
    margin-left: 5px;
}
.cart {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 10000;
    position: fixed;
}
.basket {
    padding: 5%;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
header {
    top: 0;
    left: 0;
    right: 0;
    /*position: fixed;*/
    height: 70px;
    background: #34495e;
    width: 100%;
}
.header_overflow {
    display: table;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}
.menu {
    margin-top: 25px;
    float: right;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.2s;
    cursor: pointer;
}
.menu ul li a:hover {
    background-color: #2c3e50;
}
#menu_selected {
    background-color: #2c3e50;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
}
figure {
    left: 0;
    position: absolute;
    width: 500%;
    display: flex;
    height: 100%;
}
.slide {
    width: 20%;
    height: 100%;
    cursor: pointer;
}
#slide1 {
    background: url("../img/s1.png");
    background-size: cover;
    background-position: center;
}
#slide2 {
    background: url("../img/s3.jpg");
    background-size: cover;
    background-position: center;
}
#slide3 {
    background: url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
}
.points {
    left: 50%;
    margin-left: -27px;
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 60px;
    /*background-color: #*/
}
.point {
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 360px;
    border: solid 1px #34495e;
    cursor: pointer;
    position: relative;
}
.point_active {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #34495e;
    border-radius: 360px;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
}
.page {
    width: 100%;
    max-width: 1040px;
    margin: 10px auto;
}
.last-item:hover {
    background: rgba(0, 0, 0, 0.0) !important;
}
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #34495e;
    z-index: 10000;
}
.llogo {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -128px;
}
.cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em;
    text-align: left;
}
.goods {
    margin-top: 10px;
    width: 100%;
}
/*mobile*/
@media screen and (max-width: 750px) {
    .goods_image {
        position: absolute;
        width: 50%;
        left: 50%;
        height: auto;
        margin-left: -25%;
        padding-bottom: 5%;
        background-size: cover;
    }
    .cols.col-4 {
        width: 50%;
    }
    body {
        background: #fff;
    }
}
/*some kind of tablet*/
@media screen and (max-width: 750px) and (min-width: 600px) {
    .goods_image {
        position: absolute;
        width: auto;
        max-width: 50%;
        left: 50%;
        height: 60% !important;
        margin-left: -25%;
        padding-bottom: 5%;
        background-size: cover;
    }
    .cols.col-4 {
        width: 50%;
    }
    body {
        background: #ffffff;
    }
}
/*desktop*/
@media screen and (min-width: 750px) {
    .goods_image {
        position: absolute;
        width: auto;
        max-width: 50%;
        left: 50%;
        height: 60% !important;
        margin-left: -25%;
        padding-bottom: 5%;
        background-size: cover;
    }
    .cols.col-4 {
        width: 33%;
    }
}
.good {
    margin-top: 5%;
    height: 275px !important;
    position: relative;
    width: 99%;
    top: 0.5%;
    left: 0.5%;
    background: #fff;
}
.gtitle {
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    color: #292929;
}
.gt {
    padding-left: 20px;
    font-size: 16px;
    padding-top: 165px;
    line-height: 21px;
    font-weight: bold;
    text-transform: none;
    color: #292929;
}
.price {
    color: #515150;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 20px;
}
.gdes {
    color: #858585;
    margin-top: 15px;
    padding-left: 20px;
}
.buy {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.8);
    z-index: 9000;
    cursor: pointer;
}
.buy_button {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
.con {
    padding-left: 25px;
}
iframe {
    margin-top: 25px;
    width: 100%;
    height: 400px;
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
}
footer {
    width: 100%;
    height: 80px;
    background-color: #34495e;
    margin-top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
}
ul {
    padding-left: 5%;
    padding-right: 5%;
}
footer table td {
    padding: 3%;
}
footer p {
    color: #fff;
    padding: 25px;
}
footer svg {
    height: 50px;
}
td.empty {
    width: 10%;
}
a:link {
    color: #34495e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #000;
}