.preloader {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(52, 73, 94, 0.66);
  z-index: 1000000;
}
.spin {
  border-radius: 360px;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  height: 150px;
  width: 150px;
  margin-left: -75px;
  border: 2px solid rgba(255,255,255, 0.0);
  border-top-color: #fff;
}
.spin.first {margin-top: -75px; animation: spin 2s infinite linear; border-top-color: #fff; border-bottom-color: #fff;}
  .spin.second {margin-top: -65px; width: 125px; height: 125px; margin-left: -62.5px; border-top-color: #fff; border-bottom-color: #fff; animation: spin_reverse 1.5s infinite linear;}
    .spin.third {margin-top: -55px; width: 100px; height: 100px; margin-left: -50px; border-top-color: #fff; border-bottom-color: #fff; animation: spin 1s infinite linear;}
@keyframes spin {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes spin_reverse {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
