<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Teddy bear</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/common.css}" rel="stylesheet"/>
    <style>
        .card {
            padding: 2% 5% 7%;
        }
        body {
            background: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="card">
            <!--/*@thymesVar id="header" type="java.lang.String"*/-->
            <!--/*@thymesVar id="content" type="java.lang.String"*/-->
            <h2 class="form-heading" th:text="${header}"></h2>
            <h4 th:text="${content}"></h4>
        </div>
    </div>
    <script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>