<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Teddy bear</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/common.css}" rel="stylesheet"/>
    <style>
        .card {
            padding: 2% 5% 7%;
        }
        body {
            background: #FFFFFF;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="card">
        <h2 class="form-heading">Отключено сохранение файлов cookie</h2>
        <h4>Включите файлы cookie в браузере и повторите попытку.<br /><a href="https://support.google.com/accounts/answer/61416?hl=ru">Подробнее...</a></h4>
        <form id="home" action="/" method="get"></form>
        <button class="btn btn-lg btn-primary btn-block"
                style="align-content: flex-end; width: 200px; float: right;"
                onclick="document.forms['home'].submit()">На домашнюю</button>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>