<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="dataList" type="java.util.ArrayList"*/-->
    <div th:each="data: ${dataList}">
        <p th:text="${data}"></p>
    </div>
</body>
</html>