<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Teddy bear</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/common.css}" rel="stylesheet"/>
    <style>
        .card {
            padding: 2% 5% 7%;
        }
        body {
            background: #FFFFFF;
        }
    </style>
</head>
<body>
    <!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
    <div class="page" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(status)}">
        <div class="card" th:if="httpStatus != null">
            <h2 class="form-heading" th:text="'Http error code: ' + ${httpStatus.value()}"></h2>
            <h4 th:text="${httpStatus.reasonPhrase}"></h4>
        </div>
        <div class="card" th:if="httpStatus == null">
            <!--/*@thymesVar id="header" type="java.lang.String"*/-->
            <!--/*@thymesVar id="content" type="java.lang.String"*/-->
            <h2 class="form-heading">Access denied</h2>
            <h4>You must be Admin to access this resource</h4>
        </div>
        <form id="home" action="/" method="get"></form>
        <button class="btn btn-lg btn-primary btn-block"
                style="align-content: flex-end; width: 200px; float: right;"
                onclick="document.forms['home'].submit()">На домашнюю</button>
    </div>
    <script th:src="@{/assets/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>