<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Teddy bear</title>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
    <link th:href="@{css/preloader.css}" rel="stylesheet"/>
    <style>
        body {
            background: #f4f4f4 !important;
        }
    </style>
</head>
<body>
    <div class="loader" onclick="">
        <svg class="llogo" width="256px" height="256px" viewBox="0 0 256 256" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
        <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard-2" fill="#ecf0f1">
                    <g id="Bear" transform="translate(12.000000, 2.000000)">
                        <g id="Group">
                            <path d="M116.939746,180.793587 L116.066762,180.793587 C106.953021,165.755186 90.6615413,155.580481 71.9652985,155.059103 L71.9652928,155.038076 L24.1561822,155.038076 C24.0724091,155.037642 23.9885328,155.038076 23.9045553,155.038076 C10.702425,155.038076 0,144.298293 0,131.0501 C0,117.801907 10.702425,107.062124 23.9045553,107.062124 C23.9885328,107.062124 24.0724091,107.062559 24.1561822,107.062526 L55.3201971,107.062124 C50.8251605,98.0835641 48.3123644,87.967279 48.3123644,77.2665331 C48.3123644,40.1715918 78.6171511,10.1002004 116,10.1002004 C153.382849,10.1002004 183.687636,40.1715918 183.687636,77.2665331 C183.687636,87.967279 181.16584,98.0835641 176.6798,107.06213 L208.850325,107.062124 L208.850325,107.073858 C221.703131,107.473953 232,118.055259 232,131.0501 C232,144.044851 221.703131,154.626247 208.850325,155.026252 L208.850325,155.038076 L161.041215,155.038076 L161.041215,155.059102 C142.254966,155.580481 126.052586,165.755186 116.939746,180.793587 Z M116.251627,132.817635 C138.486779,132.817635 156.511931,116.877537 156.511931,97.2144289 C156.511931,77.5513209 138.486779,61.6112224 116.251627,61.6112224 C94.0164751,61.6112224 75.9913232,77.5513209 75.9913232,97.2144289 C75.9913232,116.877537 94.0164751,132.817635 116.251627,132.817635 Z M116,103.527054 C102.242,103.527054 91.0889371,94.8221776 91.0889371,84.0841683 C91.0889371,73.256159 102.242,64.6412826 116,64.6412826 C129.758,64.6412826 140.911063,73.256159 140.911063,84.0841683 C140.911063,94.8221776 129.758,103.527054 116,103.527054 Z" id="Combined-Shape"></path>
                            <path d="M176.138829,85.8517025 C152.51398,85.8517025 133.362256,66.633145 133.362256,42.9258517 C133.362256,19.2185584 152.51398,0 176.138829,0 C199.763677,0 218.915401,19.2185584 218.915401,42.9258517 C218.915401,66.633145 199.763677,85.8517025 176.138829,85.8517025 Z M176.642082,69.1863727 C190.539052,69.1863727 201.804772,57.8813384 201.804772,43.9358717 C201.804772,29.9904051 190.539052,18.6853707 176.642082,18.6853707 C162.745113,18.6853707 151.479393,29.9904051 151.479393,43.9358717 C151.479393,57.8813384 162.745113,69.1863727 176.642082,69.1863727 Z" id="Combined-Shape"></path>
                            <path d="M55.8611714,85.8517025 C32.2363226,85.8517025 13.0845987,66.633145 13.0845987,42.9258517 C13.0845987,19.2185584 32.2363226,0 55.8611714,0 C79.4860201,0 98.637744,19.2185584 98.637744,42.9258517 C98.637744,66.633145 79.4860201,85.8517025 55.8611714,85.8517025 Z M56.3644252,69.1863727 C70.261395,69.1863727 81.527115,57.8813384 81.527115,43.9358717 C81.527115,29.9904051 70.261395,18.6853707 56.3644252,18.6853707 C42.4674553,18.6853707 31.2017354,29.9904051 31.2017354,43.9358717 C31.2017354,57.8813384 42.4674553,69.1863727 56.3644252,69.1863727 Z"></path>
                            <ellipse id="Oval" cx="67.9392625" cy="213.114228" rx="38.7505423" ry="38.8857715"></ellipse>
                            <ellipse id="Oval" cx="164.563991" cy="213.114228" rx="38.7505423" ry="38.8857715"></ellipse>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="preloader">
        <div class="spin first"></div>
        <div class="spin second"></div>
        <div class="spin third"></div>
    </div>
    <header>
        <!--/*@thymesVar id="itemsInCart" type="java.util.ArrayList<com.vadim.hasdfa.teddybear.model.Item>"*/-->
        <div class="header_overflow">
            <svg class="logo" width="256px" height="256px" viewBox="0 0 256 256" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
            <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard-2" fill="#ecf0f1">
                        <g id="Bear" transform="translate(12.000000, 2.000000)">
                            <g id="Group">
                                <path d="M116.939746,180.793587 L116.066762,180.793587 C106.953021,165.755186 90.6615413,155.580481 71.9652985,155.059103 L71.9652928,155.038076 L24.1561822,155.038076 C24.0724091,155.037642 23.9885328,155.038076 23.9045553,155.038076 C10.702425,155.038076 0,144.298293 0,131.0501 C0,117.801907 10.702425,107.062124 23.9045553,107.062124 C23.9885328,107.062124 24.0724091,107.062559 24.1561822,107.062526 L55.3201971,107.062124 C50.8251605,98.0835641 48.3123644,87.967279 48.3123644,77.2665331 C48.3123644,40.1715918 78.6171511,10.1002004 116,10.1002004 C153.382849,10.1002004 183.687636,40.1715918 183.687636,77.2665331 C183.687636,87.967279 181.16584,98.0835641 176.6798,107.06213 L208.850325,107.062124 L208.850325,107.073858 C221.703131,107.473953 232,118.055259 232,131.0501 C232,144.044851 221.703131,154.626247 208.850325,155.026252 L208.850325,155.038076 L161.041215,155.038076 L161.041215,155.059102 C142.254966,155.580481 126.052586,165.755186 116.939746,180.793587 Z M116.251627,132.817635 C138.486779,132.817635 156.511931,116.877537 156.511931,97.2144289 C156.511931,77.5513209 138.486779,61.6112224 116.251627,61.6112224 C94.0164751,61.6112224 75.9913232,77.5513209 75.9913232,97.2144289 C75.9913232,116.877537 94.0164751,132.817635 116.251627,132.817635 Z M116,103.527054 C102.242,103.527054 91.0889371,94.8221776 91.0889371,84.0841683 C91.0889371,73.256159 102.242,64.6412826 116,64.6412826 C129.758,64.6412826 140.911063,73.256159 140.911063,84.0841683 C140.911063,94.8221776 129.758,103.527054 116,103.527054 Z" id="Combined-Shape"></path>
                                <path d="M176.138829,85.8517025 C152.51398,85.8517025 133.362256,66.633145 133.362256,42.9258517 C133.362256,19.2185584 152.51398,0 176.138829,0 C199.763677,0 218.915401,19.2185584 218.915401,42.9258517 C218.915401,66.633145 199.763677,85.8517025 176.138829,85.8517025 Z M176.642082,69.1863727 C190.539052,69.1863727 201.804772,57.8813384 201.804772,43.9358717 C201.804772,29.9904051 190.539052,18.6853707 176.642082,18.6853707 C162.745113,18.6853707 151.479393,29.9904051 151.479393,43.9358717 C151.479393,57.8813384 162.745113,69.1863727 176.642082,69.1863727 Z" id="Combined-Shape"></path>
                                <path d="M55.8611714,85.8517025 C32.2363226,85.8517025 13.0845987,66.633145 13.0845987,42.9258517 C13.0845987,19.2185584 32.2363226,0 55.8611714,0 C79.4860201,0 98.637744,19.2185584 98.637744,42.9258517 C98.637744,66.633145 79.4860201,85.8517025 55.8611714,85.8517025 Z M56.3644252,69.1863727 C70.261395,69.1863727 81.527115,57.8813384 81.527115,43.9358717 C81.527115,29.9904051 70.261395,18.6853707 56.3644252,18.6853707 C42.4674553,18.6853707 31.2017354,29.9904051 31.2017354,43.9358717 C31.2017354,57.8813384 42.4674553,69.1863727 56.3644252,69.1863727 Z" id="Combined-Shape"></path>
                                <ellipse id="Oval" cx="67.9392625" cy="213.114228" rx="38.7505423" ry="38.8857715"></ellipse>
                                <ellipse id="Oval" cx="164.563991" cy="213.114228" rx="38.7505423" ry="38.8857715"></ellipse>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="menu">
                <ul>
                    <li><a>Home</a></li>
                    <li><a th:href="@{/contacts}">Contacts</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                    <li>
                        <a th:if="${username==null}" th:href="@{/login}">Login</a>
                        <a th:if="${username!=null}" th:text="${username}" th:href="@{/login}"></a>
                    </li>
                    <li>
                        <a class="last-item" th:href="@{/cart}">
                            <!--/*@thymesVar id="cartBears" type="java.util.ArrayList<com.vadim.hasdfa.teddybear.model.Item>"*/-->
                            <p class="gcount" style="color: green; position: absolute; margin-left: 30px; margin-top: -15px;"
                               th:text="${cartBears.size()}"></p>
                            <svg fill="#ecf0f1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
                                style="margin-right: 18px;">
                                <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu mobile">
                <ul>
                    <li><a>Home</a></li>
                    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                    <li>
                        <a th:if="${username==null}" th:href="@{/login}">Login</a>
                        <a th:if="${username!=null}" th:text="${username}" th:href="@{/login}"></a>
                    </li>
                    <li>
                        <a class="last-item" th:href="@{/cart}">
                            <!--/*@thymesVar id="cartBears" type="java.util.ArrayList<com.vadim.hasdfa.teddybear.model.Item>"*/-->
                            <p class="gcount" style="color: green; position: absolute; margin-left: 30px; margin-top: -15px;"
                               th:text="${cartBears.size()}"></p>
                            <svg fill="#ecf0f1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
                                 style="margin-right: 18px;">
                                <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="page">
        <div class="slider">
            <figure style="left: 0;">
                <div class="slide" id="slide1"></div>
                <div class="slide" id="slide2"></div>
                <div class="slide" id="slide3"></div>
            </figure>
            <div class="points">
                <div class="point" href="0"><div class="point_active"></div></div>
                <div class="point" href="100"></div>
                <div class="point" href="200"></div>
            </div>
        </div>
        <h2 class="gtitle">Popular goods</h2>
        <!--/*@thymesVar id="allBears" type="java.util.ArrayList<com.vadim.hasdfa.teddybear.model.Item>"*/-->
        <!--/*@thymesVar id="cartBears" type="java.util.ArrayList<com.vadim.hasdfa.teddybear.model.Item>"*/-->
        <div class="goods" th:each="bear: ${allBears}">
            <div class="cols col-4">
                <div class="good">
                    <form class="form"
                          th:action="@{/add2Cart}" method="post" style="display: none;">
                        <input name="id" th:value="${bear.id}" title=""/>
                    </form>
                    <div class="buy">
                        <!--document.forms['form'].submit()-->
                        <svg th:if="${!cartBears.contains(bear)}" class="buy_button" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"></path>
                            <path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"></path>
                        </svg>
                        <svg th:if="${cartBears.contains(bear)}" class="buy_button" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.73 22.73L2.77 2.77 2 2l-.73-.73L0 2.54l4.39 4.39 2.21 4.66-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h7.46l1.38 1.38c-.5.36-.83.95-.83 1.62 0 1.1.89 2 1.99 2 .67 0 1.26-.33 1.62-.84L21.46 24l1.27-1.27zM7.42 15c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h2.36l2 2H7.42zm8.13-2c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H6.54l9.01 9zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <div class="gid" th:text="${bear.id}" style="display: none;"></div>
                    <img class="goods_image" th:src="@{${bear.image}}"/>
                    <div class="gt" th:text="${bear.title}"></div>
                    <div class="gdes" th:text="${bear.category}"></div>
                    <div class="price" th:text="${bear.price} + '$'"></div>
                </div>
            </div>
        </div>
    </div>
    <footer style="background-color: rgba(255, 255, 255, 0) !important;">
        <table align="right">
                    <tr> <td>
                       <a target="_blank" href="https://www.facebook.com/pages/Плюшевый-мишка/642860052445726?fref=ts">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
         viewBox="0 0 291.319 291.319" style="enable-background:new 0 0 291.319 291.319;" xml:space="preserve">
        <path style="fill:#3B5998;" d="M145.659,0c80.45,0,145.66,65.219,145.66,145.66c0,80.45-65.21,145.659-145.66,145.659
            S0,226.109,0,145.66C0,65.219,65.21,0,145.659,0z"></path>
        <path style="fill:#fff;" d="M163.394,100.277h18.772v-27.73h-22.067v0.1c-26.738,0.947-32.218,15.977-32.701,31.763h-0.055
            v13.847h-18.207v27.156h18.207v72.793h27.439v-72.793h22.477l4.342-27.156h-26.81v-8.366
            C154.791,104.556,158.341,100.277,163.394,100.277z"></path>
                </svg>
                       </a>
                    </td>
                    <td class="empty"></td>
                    <td>
                       <a target="_blank" href="https://twitter.com/toon_teddy_bear">
                           <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
         viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197;" xml:space="preserve">
        <circle style="fill:#55ACEE;" cx="56.099" cy="56.098" r="56.098"></circle>
            <path style="fill:#F1F2F2;" d="M90.461,40.316c-2.404,1.066-4.99,1.787-7.702,2.109c2.769-1.659,4.894-4.284,5.897-7.417
                c-2.591,1.537-5.462,2.652-8.515,3.253c-2.446-2.605-5.931-4.233-9.79-4.233c-7.404,0-13.409,6.005-13.409,13.409
                c0,1.051,0.119,2.074,0.349,3.056c-11.144-0.559-21.025-5.897-27.639-14.012c-1.154,1.98-1.816,4.285-1.816,6.742
                c0,4.651,2.369,8.757,5.965,11.161c-2.197-0.069-4.266-0.672-6.073-1.679c-0.001,0.057-0.001,0.114-0.001,0.17
                c0,6.497,4.624,11.916,10.757,13.147c-1.124,0.308-2.311,0.471-3.532,0.471c-0.866,0-1.705-0.083-2.523-0.239
                c1.706,5.326,6.657,9.203,12.526,9.312c-4.59,3.597-10.371,5.74-16.655,5.74c-1.08,0-2.15-0.063-3.197-0.188
                c5.931,3.806,12.981,6.025,20.553,6.025c24.664,0,38.152-20.432,38.152-38.153c0-0.581-0.013-1.16-0.039-1.734
                C86.391,45.366,88.664,43.005,90.461,40.316L90.461,40.316z"></path>
                </svg>

                       </a>
                    </td>
                    <td class="empty"></td>
                    <td>
                        <a target="_blank" href="https://dribbble.com/search/?q=teddy+bear">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
         viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196;" xml:space="preserve">
        <circle style="fill:#F26798;" cx="56.098" cy="56.098" r="56.098"></circle>
            <path style="fill:#F1F2F2;" d="M56.097,20.472c-19.669,0-35.671,15.983-35.671,35.627c0,19.644,16.002,35.626,35.671,35.626
                c19.67,0,35.673-15.981,35.673-35.626C91.77,36.455,75.767,20.472,56.097,20.472L56.097,20.472z M79.57,37.287
                c4.069,5.043,6.542,11.412,6.656,18.352c-1.354-0.278-7.088-1.347-13.94-1.347c-2.211,0-4.538,0.111-6.871,0.399
                c-0.197-0.479-0.394-0.956-0.601-1.438c-0.605-1.423-1.257-2.835-1.932-4.226C73.428,44.682,78.515,38.652,79.57,37.287
                L79.57,37.287z M56.097,26.049c7.601,0,14.549,2.824,19.856,7.475c-0.84,1.146-5.396,6.841-15.565,10.683
                c-4.707-8.604-9.859-15.729-11.085-17.383C51.488,26.318,53.762,26.049,56.097,26.049L56.097,26.049z M43.152,28.969
                c1.039,1.431,6.199,8.632,11.027,17.167c-12.957,3.406-24.463,3.628-27.24,3.628h-0.295C28.639,40.57,34.851,32.93,43.152,28.969
                L43.152,28.969z M25.96,56.146c0-0.248,0.004-0.496,0.012-0.743c0.18,0.002,0.446,0.002,0.791,0.002
                c3.74,0,16.722-0.309,30.1-4.279c0.812,1.588,1.585,3.2,2.304,4.811c-0.338,0.097-0.671,0.194-1.002,0.302
                c-15.063,4.865-23.342,17.744-24.616,19.849C28.829,70.77,25.96,63.788,25.96,56.146L25.96,56.146z M56.097,86.241
                c-6.912,0-13.291-2.341-18.381-6.266c0.861-1.688,7.11-12.939,23.617-18.684c0.01-0.004,0.021-0.008,0.033-0.011
                c4.139,10.776,5.892,19.82,6.373,22.623C64.157,85.409,60.223,86.241,56.097,86.241L56.097,86.241z M73.167,80.936
                c-0.404-2.319-2.028-10.795-5.776-21.133c2.102-0.327,4.147-0.456,6.065-0.456c6.299,0,11.226,1.379,12.371,1.729
                C84.466,69.285,79.766,76.389,73.167,80.936L73.167,80.936z"></path>
    </svg>
                       </a>
                    </td>
                    <td class="empty"></td>
                </tr>
            </table>
    </footer>

    <script th:src="@{assets/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{js/main.js}"></script>
    <script th:src="@{js/index.js}"></script>
</body>
</html>